@model MVC_Demo.Models.UserModel

@*@section Styles {
	<link rel="stylesheet" href="~/css/login.css" />
}
*@
<div class="body"></div>
	<div class="grad"></div>
		<div class="header">
			<div>Site<span>Random</span></div>
		</div>
		<br>
		<div class="login">
			@using (Html.BeginForm("VerifyAccount", "Login", FormMethod.Post))
				{
					@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder="username"})
					@Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder="password"})
					<input type="submit" name="submit" class="btn btn-info btn-md" value="submit"/>
				}
		</div>
		<div style="color:red">
			@ViewBag.message
		</div>
		